* {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100%;
	height: 100%;
}

body {
	font: $normal #{$base-size} $font-primary;
	background-repeat: repeat;
	background-color: #22313f;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-secondary;
	margin: 0;
	font-weight: $bold;
	text-transform: uppercase;
	color: $color-navy;
}

h1:first-child {
	margin: 0;
}

p {
	margin: 0.67rem 0 0 0;
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover,
	&:active {
		text-decoration: none;
	}
}

.bold {
	font-weight: $bold;
}