// ---------------------------------------------------------------------------
// Imports
@import "susy";
@import "breakpoint";

// ---------------------------------------------------------------------------
// Basic Grid
$susy: (
	columns: 12,
);

// Responsive Grid
$small-screen			: 37.49rem; //600px
$medium-screen			: 48.00rem; //768px
$large-screen			: 60.09rem; //960px