@mixin vertical-align() {
	position: relative;
	top: 50%;
	top: calc(50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin vertical-align-offset($bottom) {
	$top: calc(50% + #{$bottom});
	$translate: calc(-50% - (0.5 * #{$bottom}));
	position: relative;
	top: 50%;
	top: $top;
	-webkit-transform: translateY($translate);
	-moz-transform: translateY($translate);
	-ms-transform: translateY($translate);
	transform: translateY($translate);
}

@mixin rotate($deg) {
	-webkit-transform: rotate(#{$deg});
	-moz-transform: rotate(#{$deg});
	-ms-transform: rotate(#{$deg});
	-o-transform: rotate(#{$deg});
	transform: rotate(#{$deg});
}