//site settings
//colors
$color-white			: #edeef0;
$color-cyan				: #0cb2af;
$color-green			: #a6ce39;
$color-navy				: #0a3653;
$color-link				: #0a3653;

//font weights

$normal					: 400;
$bold					: 700;

//font families
$font-primary 			: 'Open Sans', sans-serif;
$font-secondary			: 'Monterrat', sans-serif;

//font sizes
$mini-size				: 0.6rem;
$small-size				: 0.8rem;
$base-size				: 1.0rem;
$header-size			: 1.8rem;
$header2-size			: 1.4rem;
$line-height			: 1.618em;