.rendered {
	float: left;
	width: 100%;
	height: 300px;
	background-color: #ecf0f1;
	overflow: hidden;
	padding: 50px;
}

.output {
	float: right;
	width: 33.3333%;
	height: 100%;
	background-color: #a2ded0;
	padding: 50px;
}

.control-wrapper {
	width: 100%;
	height: 66.6666%;
	overflow-y: auto;
}

.controls {
	float: left;
	clear: none;
	width: 33.333%;
	height: 100%;
	padding: 25px 50px;
	color: white;

	span {
		margin-bottom: 0.5rem;
		display: block;
	}
}

.rendered {
	text-align: center;

	img {
		width: 200px;
		height: auto;
	}
}

.controls {
	.slider {
		margin-bottom: 75px;
	}
}

.btn {
	background-color: #f57c43;
	color: white;
	border-radius: 10px;
	width: 100%;
	padding: 1rem;
	border: none;
	outline: none;
	transition: background-color 0.0625s ease-out;
	margin-top: 1.5rem;

	&:active {
		background-color: #e46b32;
	}
}

.css {
	display: none;
	position: absolute;
	top: 25px;
	left: 25px;
	padding: 25px;
	width: 350px;
	background-color: #ecf0f1;
	box-shadow: 0 0 5px #999;

	&.active {
		display: block;
	}
}