.header-container {
	width: 100%;
	background-image: url('/assets/img/trungles.png');
	background-repeat: no-repeat;
	background-position: left;
	background-color: $color-white;
	height: 80px;

	.social-icons {
		float: right;
		display: table;
		height: 100%;

		.social-wrapper {
			display: table-cell;
			vertical-align: middle;

			.fontello:hover,
			.fontello:active {
				color: $color-green;
			}
		}
	}
}